.story-wrapper {
  padding-top: 10px;
  margin-bottom: 1.25rem;
  border-top: 1px solid #ccc;
}

.story-wrapper a {
  color: #2e2e2c;

  margin-bottom: 0.3125rem;
  font-size: 0.7rem;
  line-height: 1.8;
  text-decoration: none;
}

.story-wrapper a h1 {
  background-color: #f8dc3d;
}

.story-meta p {
  font-style: italic;
}
