.story-wrapper {
  padding-top: 0.625rem;
  margin-bottom: 1.25rem;
  border-top: 0.0625rem solid #ccc;
}

.story-wrapper a {
  color: #2e2e2c;

  margin-bottom: 0.3125rem;
  font-size: 0.7rem;
  line-height: 1.8;
  text-decoration: none;
  display: block;
  width: 100%;
}

.story-wrapper a h1 {
  padding-left: 0.5rem;
  background-color: #f8dc3d;
}

.story-meta p {
  font-style: italic;
}
